.container {
  width: 100%;
  padding: 0 31px;
  margin: 0 auto;

  @media (min-width: $mobile) {
    width: 480px;
  }
  @media (min-width: $tablet) {
    width: 768px;
    padding: 0 39px;
  }
  @media (min-width: $desktop) {
    width: 1200px;
    padding: 0 15px;
  }

  .header & {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 50%;

    padding: 0 31px;

    @include flexation(row, center);

    transform: translateX(-50%);

    @media (min-width: $mobile) {
      width: 480px;
      padding: 0 31px;
    }

    @media (min-width: $tablet){
      width: 690px;
      top: 32px;

      padding: 0 0 0 11px;

      overflow: visible;

      @include flexation(row, stretch);
  }
  @media (min-width: $desktop){
       width: 1170px;
       @include flexation(row, center, space-between);
  }
  }

  .hero & {
    //@include flexation(column, flex-start, stretch);


    @media (max-width: $tablet - 1px) {
      position: relative;
    }
    @media (min-width: $tablet) {
      padding-right: 0;
      @include flexation(row, stretch, stretch);
    }
    @media (min-width: $desktop) {
      padding: 0 55;
    }
  }

  .about & {
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row;
    }
  }

  .features & {
    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .masters & {
    @media (min-width: $tablet) and (max-width: $desktop - 1px) {
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
  }
}


