.logo {
  display: block;

  @media (max-width: $tablet - 1px) {
    fill: getColor('light');
  }

  @media (min-width: $tablet) {
    margin-right: 64px;
    fill: getColor('logo');
  }
  @media (min-width: $desktop) {
    margin-right: 71px;
  }
}