.toggle-button {
    width: 40px;
    height: 40px;
    margin-left: auto;

    background-color: transparent;
    border: 0;
    fill: getColor('light');
    
    &:hover,
    &:focus {
        outline: 2px solid getColor('accent');
    }

    @media (min-width: $tablet) {
        display: none;
    }

    &__cross {
        display: none;
    }
}

.menu {
    @media (max-width: $tablet - 1px) {
        display: none;
    }
    @media (min-width: $tablet) and (max-width: $desktop - 1px) {
        padding-top: 8px;
    }
    @media (min-width: $tablet){
        margin-left: auto;
        width: 546px;
        @include flexation(row, flex-start);
    }
    @media (min-width: $desktop){
        width: 1030px;
        @include flexation();
    }
  }

.navbar {
    @media (min-width: $tablet) {
        @include flexation();
    }
    @media (min-width: $desktop) {
        @include flexation();

    }

    &__item:not(:last-child) {
        @media (min-width: $tablet) {
            margin-right: 24px;
        }
        @media (min-width: $desktop) {
            margin-right: 40px;
        }
    }

    &__phone, 
    &__link {
        color: getColor('light');
        @include transition-mixin(color);
        @include text-style(12px, 600, 1.361, .1em);
        padding: 12px 0;

        @media (min-width: $desktop) {
            padding: 16px 0;
        }
    }

    &__link:hover,
    &__link:focus,
    &__phone:focus,
    &__phone:hover {
        color: getColor('accent');
    }

    &__phone {
        @media (min-width: $tablet) and (max-width: $desktop - 1px) {
            margin-top: 4px;
        }

        @media (min-width: $desktop) {
            margin-right: 40px;
        }
    }
}

.sidebar {
    @include flexation();
    
    .header & {
        display: none;
    }

    &__item {
        @include flexation(row);
    }

    &::before {
        @extend %pseudo-stick;
        margin-right: 40px;
        background-color: getColor('section-title');
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    &__link {
        padding: 38px 0;
        font-family: 'Open Sans', sans-serif;
        @include text-style(11px, 600, 1.361, .02em);
        color: getColor('section-title');    
    }

    &__link:hover,
    &__link:focus {
        color: getColor('accent');
    }
}

.group-box {
    margin-left: auto;
    @media (min-width: $tablet) {
        @include flexation(column-reverse, center, center);
    }    
    @media (min-width: $desktop) {
        @include flexation(row);
    }
}